version: "3.9"

services:
  postgres_db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: books_db
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      retries: 5
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis_db:
    image: redis:alpine
    container_name: redis_db
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      retries: 5

  rabbitmq_db:
    image: rabbitmq:3-management
    container_name: rabbitmq_db
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped

  celery_worker:
    build:
      context: ./Module 9
      dockerfile: Dockerfile
    container_name: celery_worker
    command: celery -A app.core.celery_app worker --loglevel=info
    depends_on:
      - rabbitmq_db
      - redis_db
    volumes:
      - ./Module 9:/app
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq_db:5672//
      - CELERY_RESULT_BACKEND=redis://redis_db:6379/0

  celery_beat:
    build:
      context: ./Module 9
      dockerfile: Dockerfile
    container_name: celery_beat
    command: celery -A app.core.celery_app.celery_app beat --loglevel=info
    depends_on:
      - rabbitmq_db
      - redis_db
    volumes:
      - ./Module 9:/app
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq_db:5672//
      - CELERY_RESULT_BACKEND=redis://redis_db:6379/0

  flower:
    image: mher/flower
    container_name: flower
    command: celery --broker=amqp://guest:guest@rabbitmq_db:5672// flower --port=5555
    ports:
      - "5555:5555"
    depends_on:
      - rabbitmq_db
      - redis_db
      - celery_worker
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq_db:5672//
      - CELERY_RESULT_BACKEND=redis://redis_db:6379/0

  fastapi_app:
    build:
      context: ./Module 10
      dockerfile: Dockerfile
    container_name: fastapi_app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./Module 10:/app
    ports:
      - "8000:8000"
    depends_on:
      kafka:
        condition: service_healthy
      redis_db:
        condition: service_healthy
      postgres_db:
        condition: service_healthy
    environment:
      - PYTHONPATH=/app
      - REDIS_HOST=redis_db

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    depends_on:
      - zookeeper
    healthcheck:
      test: [ "CMD-SHELL", "nc -z kafka 9092 || exit 1" ]
      interval: 5s
      retries: 20

  kafka_producer:
    build:
      context: ./Module 10
    container_name: kafka_producer
    depends_on:
      - kafka
    volumes:
      - ./Module 10:/app

volumes:
  pg_data:
  redis_data:
  rabbitmq_data:
