version: "3.9"

services:
  postgres_db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: books_db
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      retries: 5
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis_db:
    image: redis:alpine
    container_name: redis_db
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      retries: 5

  rabbitmq_db:
    image: rabbitmq:3-management
    container_name: rabbitmq_db
    ports:
      - "5672:5672"
      - "15772:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped

  celery_worker:
    build:
      context: ./Module 9
      dockerfile: Dockerfile
    container_name: celery_worker
    command: celery -A app.core.celery_app worker --loglevel=info
    depends_on:
      - rabbitmq_db
      - redis_db
    volumes:
      - ./Module 9:/app
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq_db:5672//
      - CELERY_RESULT_BACKEND=redis://redis_db:6379/0

  fastapi_app:
    build:
      context: ./Module 9
      dockerfile: Dockerfile
    container_name: fastapi_app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./Module 9:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis_db
      - rabbitmq_db
      - postgres_db
    environment:
      - PYTHONPATH=/app

volumes:
  pg_data:
  redis_data:
  rabbitmq_data:
