services:
  postgres_db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: books_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres || exit 1" ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 20s

  redis_db:
    image: redis:alpine
    container_name: redis_db
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      retries: 5

  rabbitmq_db:
    image: rabbitmq:3-management
    container_name: rabbitmq_db
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  celery_worker:
    build:
      context: ./Module 9
    container_name: celery_worker
    command: celery -A app.core.celery_app worker --loglevel=info
    volumes:
      - ./Module 9:/app
    depends_on:
      - rabbitmq_db
      - redis_db

  celery_beat:
    build:
      context: ./Module 9
    container_name: celery_beat
    command: celery -A app.core.celery_app.celery_app beat --loglevel=info
    volumes:
      - ./Module 9:/app
    depends_on:
      - rabbitmq_db
      - redis_db

  flower:
    image: mher/flower
    container_name: flower
    ports:
      - "5555:5555"
    command: celery --broker=amqp://guest:guest@rabbitmq_db:5672// flower --port=5555
    depends_on:
      - rabbitmq_db
      - redis_db

  fastapi_app:
    build:
      context: ./Module 10
    container_name: fastapi_app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./Module 10:/app
    ports:
      - "8000:8000"
    depends_on:
      kafka:
        condition: service_healthy
      redis_db:
        condition: service_healthy
      postgres_db:
        condition: service_healthy

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_DELETE_TOPIC_ENABLE: "true"
    volumes:
      - kafka_data:/kafka/kafka-logs
    depends_on:
      - zookeeper
    healthcheck:
      test: [ "CMD-SHELL", "nc -z localhost 9092" ]
      interval: 5s
      retries: 20

  kafka_producer:
    build:
      context: ./Module 10
    container_name: kafka_producer
    volumes:
      - ./Module 10:/app
    command: [ "python", "producer.py" ]
    depends_on:
      kafka:
        condition: service_healthy

  analytics_worker:
    build:
      context: ./Module 10
    volumes:
      - ./Module 10:/app
    command: [ "python", "analytics_worker.py" ]
    depends_on:
      kafka:
        condition: service_healthy

  analytics_worker_async:
    build:
      context: ./Module 10
    command: [ "python", "analytics_worker_async.py" ]
    depends_on:
      kafka:
        condition: service_healthy
    volumes:
      - ./Module 10:/app

volumes:
  pg_data:
  redis_data:
  rabbitmq_data:
  mongo_data:
  kafka_data:
