apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-api
  template:
    metadata:
      labels:
        app: gateway-api
    spec:
      containers:
        - name: gateway-api
          image: gateway-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: KAFKA_BROKER
              value: "kafka-controller:9092"
            - name: REDIS_HOST
              value: "redis-master"
            - name: POSTGRES_HOST
              value: "postgresql"
          envFrom:
            - configMapRef:
                name: gateway-config

---
apiVersion: v1
kind: Service
metadata:
  name: gateway-api
spec:
  selector:
    app: gateway-api
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
