confluent-kafka
pymongo
opentelemetry-sdk
opentelemetry-exporter-zipkin
opentelemetry-exporter-prometheus
prometheus-client
opentelemetry-api
opentelemetry-semantic-conventions


structlog
opentelemetry-instrumentation-logging
python-json-logger