fastapi
uvicorn
httpx
python-dotenv
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-exporter-zipkin
opentelemetry-exporter-prometheus
prometheus-client


python-jose[cryptography]

structlog
opentelemetry-instrumentation-logging
python-json-logger