name: CD Deploy

on:
  # push:
  #   branches:
  #     - main

  pull_request:
    branches:
      - main

  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

     

      - name: Restart FastAPI deployment
        run: |
          kubectl rollout restart deployment/fastapi-book-service || echo "K8s cluster not reachable (expected for minikube)"
